@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Source code is made available under <a href="https://opensource.org/licenses/GPL-3.0">GPL-3.0 licence</a>.</p>

